.pane{
	-fx-border-color : rgb(0,0,0);
	-fx-border-style: segments(1, 1);
}

.titreSurBordure{
  -fx-translate-x:  8;
  -fx-translate-y: -15;
  -fx-padding: 0 4 0 4;
  -fx-background-color: -fx-background;
}